reference/vector_samples_19_4_10/Programming/BLF_Logging/Doc/schema/blf_identity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="blf_prop.xsd"/>  

  <xs:complexType name="measurement_type">
    <xs:attribute name="uuid" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="block_type">
    <xs:attribute name="uuid" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="sequence_type">
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- general identity element -->
  <xs:complexType name="general_identity_type">
    <xs:sequence>
      <xs:element name="measurement" type="measurement_type" minOccurs="0" maxOccurs="1"/>
      <xs:element name="block" type="block_type" minOccurs="0" maxOccurs="1"/>
      <xs:element name="sequence" type="sequence_type" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <!-- the main identity element -->
  <xs:element name="identity">
    <xs:complexType>
      <xs:sequence>
        <!-- general identity (mandatory) -->
        <xs:element name="general_identity" type="general_identity_type" minOccurs="1" maxOccurs="1"/>
        <!-- application identity properties (optional) -->
        <xs:element name="identity_properties" type="application_properties_type" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="root_attributes"/>
    </xs:complexType>
  </xs:element>

</xs:schema>