reference/vector_samples_19_4_10/Programming/BLF_Logging/Doc/schema/blf_channel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="blf_prop.xsd"/>  

  <!-- enumeration for bus types -->
  <xs:simpleType name="bus_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAN"/>
      <xs:enumeration value="LIN"/>
      <xs:enumeration value="MOST"/>
      <xs:enumeration value="FlexRay"/>
      <xs:enumeration value="J1708"/>
      <xs:enumeration value="Ethernet"/>
      <xs:enumeration value="WLAN"/>
      <xs:enumeration value="AFDX"/>
      <xs:enumeration value="KLine"/>
      <xs:enumeration value="A429"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- channel attributes -->
  <xs:attributeGroup name="channel_attributes">
    <xs:attribute name="number" type="xs:integer" use="required"/>
    <xs:attribute name="type" type="bus_type" use="required"/>
    <xs:attribute name="network" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <!-- database attributes -->
  <xs:complexType name="database_type">
    <xs:attribute name="file" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="optional"/>
    <xs:attribute name="cluster" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- channel elements (properties, databases, application properties) -->
  <xs:complexType name="channel_type">
    <xs:sequence>
      <xs:element name="databases">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="database" type="database_type" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="channel_properties" type="application_properties_type" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="channel_attributes"/>
  </xs:complexType>

  <!-- channel list -->
  <xs:element name="channels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="channel" type="channel_type" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="root_attributes"/>
    </xs:complexType>
  </xs:element>

</xs:schema>