reference/vector_samples_19_4_10/Programming/BLF_Logging/Doc/schema/blf_prop.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="type_pattern">
		<xs:restriction base="xs:string">
			<xs:enumeration value="string"/>
			<xs:enumeration value="decimal"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="time"/>
			<xs:enumeration value="dateTime"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:attributeGroup name="root_attributes">
		<xs:attribute name="version" type="xs:integer" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="name_attributes">
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="desc" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="value_attributes">
		<xs:attribute name="type" type="type_pattern" default="string" use="optional"/>
		<xs:attribute name="unit" type="xs:string" use="optional"/>
	</xs:attributeGroup>
  
	<xs:complexType name="application_properties_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="e">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref="name_attributes"/>
					<xs:attributeGroup ref="value_attributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="tree">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="application_properties_type" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="list">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="application_properties_type"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="name_attributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="elist">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eli" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType mixed="true">
								<xs:sequence>
									<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
                <xs:attributeGroup ref="name_attributes"/>
                <xs:attributeGroup ref="value_attributes"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="name_attributes"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
  	<xs:attributeGroup ref="name_attributes"/>
	</xs:complexType>

</xs:schema>
