reference/vector_samples_19_4_10/Programming/BLF_Logging/Doc/schema/blf_general.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="blf_prop.xsd"/>  

  <!-- configuration -->
  <xs:complexType name="configuration_type">
    <xs:attribute name="file" type="xs:string" use="optional"/>
    <xs:attribute name="path" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- user attributes -->
  <xs:complexType name="user_type">
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="email" type="xs:string" use="optional"/>
    <xs:attribute name="company" type="xs:string" use="optional"/>
    <xs:attribute name="department" type="xs:string" use="optional"/>
    <xs:attribute name="computer" type="xs:string" use="optional"/>
    <xs:attribute name="os" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- application attributes -->
  <xs:complexType name="application_type">
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="version" type="xs:string" use="optional"/>
    <xs:attribute name="platform" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- general properties elements -->
  <xs:complexType name="general_properties_type">
    <xs:sequence>
      <xs:element name="configuration" type="configuration_type" minOccurs="0" maxOccurs="1"/>
      <xs:element name="user" type="user_type" minOccurs="0"/>
      <xs:element name="application" type="application_type" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- the main general properties element -->
  <xs:element name="general">
    <xs:complexType>
      <xs:sequence>
        <!-- general properties (mandatory) -->
        <xs:element name="general_properties" type="general_properties_type" minOccurs="1" maxOccurs="1"/>
        <!-- application properties (optional) -->
        <xs:element name="application_properties" type="application_properties_type" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="root_attributes"/>
    </xs:complexType>
  </xs:element>

</xs:schema>